.change-network-backcard {
    height : 500px;
    width: 400px;
    background-color: #ECF0F2; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 20px #D3DBE7, -0.5rem -0.5rem 20px white;
    border-radius: 8%;
}

.transfer-close-button {
    width: 10%;
    border: none;
    background-color: #ecf0f2;
    position: fixed;
    right: 10px;
    margin: 8% 5px;

}

.network-details {
    width: 80%;
    margin: 20% auto;
}