.importToken-backcard {
    height : 400px;
    width: 500px;
    background-color: #ECF0F2; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 20px #D3DBE7, -0.5rem -0.5rem 20px white;
    border-radius: 10%;
}


.close-button{
    width: 5%;
    padding: 0px !important;
    position: absolute;
    left: 66%;
    top: 23%;
    transform: translate(-90%,-30%);
    border: none;
    background-color: #ECF0F2;

}
.close {
    width: 40%;
}

.token-form {
    width: 80%;
    margin: 30px auto;
}

.form-address input{
    margin-bottom: 2rem
}
.form-abi textarea {
    margin-bottom: 1rem;
}

.importToken-backcard h2 {
    width: fit-content;
    margin: 50px auto;
    color: rgb(7, 101, 133);
}

.submit-button{
    width: fit-content;
    margin: auto;
}

.form-submit {
    width: fit-content;
    margin: auto;
    border: none;
    background-color: rgb(20, 154, 198);
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
}